<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>活动页面</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/huodong.css">
    <link rel="stylesheet" href="css/huodong1.css">
</head>
<body>
      <!-- 头部 -->
      <header>
        <div id="me">
            <ul>
                <li>
                    <a href="">我的订单</a>
                </li>
                <li>
                    <a href="">我的优惠券</a>
                </li>
                <li>
                    <a href="">我的美的</a>
                </li>
                <li>
                    <a href="">会员福利社</a>
                </li>
                <li>
                    <a href="">我的权益</a>
                </li>
                <li>
                    <a href="">我的设置</a>
                </li>
            </ul>
        </div>
        <div id="cart">
            <span>立即
                <a href="">登录</a>
                查看购物车商品
            </span>
        </div>
        <div id="wx_img">
                <img src="img/header_qr_app.png" alt="">
        </div>
        <div class="inner">
            <a href="#" class="backImg site_logo" title="美的"></a>
            <div class="nav_wrap" id="topNavWrap">
                <ul class="nav">
                    <li class="item">
                        <a href="">首页</a>
                    </li>
                    <li class="item">
                        <a href="">商家入驻</a>
                    </li>
                    <li class="item">
                        <a href="">企业采购</a>
                    </li>
                    <li class="item">
                        <a href="">全屋电器套购</a>
                    </li>
                    <li class="item">
                        <a href="">会员福利社</a>
                    </li>
                </ul>
            </div>
            <div class="opt_wrap" id="optWrap">
                <div class="opt opt_search">
                    <i class="backImg opt_img" ></i>
                    
                </div>
                <div class="opt opt_wx opt_wx_hover">
                    <i class="backImg opt_img"></i>
                    
                
                </div>
                <div class="opt opt_cart">
                    <i class="backImg opt_img"></i>
                    <span class="cart_num">0</span>
                </div>
                <div class="opt opt_user">
                    <i class="backImg opt_img"></i>
                    <span class="user_login_name">登录</span>
                </div>
            </div>
        </div>
        
    </header>
    <!-- 公告栏-->
    <div data-midea_mos_id="32,96" class="operation_time" data-time-start="2017/06/28 00:00:00" data-time-end="2019/12/31 23:59:59" style="display: block; font-size: 12px; background: rgb(0, 59, 102); line-height: 16px; color: rgb(255, 255, 255); text-align: center; padding: 4px;">
        【通知】新疆区域由于交通管制无法正常发货，恢复时间待定
    </div>
    <div class="floor" id="f1">
        <div class="floor1"></div>
        <div class="floor2"></div>
        <div class="floor3"></div>
        <div class="floor4"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f2">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f3">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f4">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f5">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f6">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f7">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f8">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f9">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f10">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f11">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f12">
        <div class="floor1"></div>
        <div class="floor_content"></div>
    </div>
    <div class="floor" id="f13">
        <div class="floor1"></div>
        <div class="floor_content">
            <div class="right_nav" id="rightNav">
                <div class="right_bd">
                    <ul id="rightNav1">
                        <li class="title">
                            <p>轻奢品牌</p>
                        </li>
                        <li class="bd nav_li">
                            <a href="javascript:void(0)" class="a_nav">
                                <span class="nav_title">胶囊咖啡机</span>
                            </a>
                        </li>
                        <li class="bd nav_li">
                            <a href="javascript:void(0)" class="a_nav">
                                <span class="nav_title">胶囊套餐</span>
                            </a>
                        </li>
                        <li class="bd nav_li">
                            <a href="javascript:void(0)" class="a_nav">
                                <span class="nav_title">宝宝专区</span>
                            </a>
                        </li>
                        <li class="bd nav_li">
                            <a href="javascript:void(0)" class="a_nav">
                                <span class="nav_title">精英人士推荐</span>
                            </a>
                        </li>
                        <li class="bd nav_li">
                            <a href="javascript:void(0)" class="a_nav">
                                <span class="nav_title">职场白领推荐</span>
                            </a>
                        </li>
                        <li class="bd nav_li">
                            <a href="javascript:void(0)" class="a_nav">
                                <span class="nav_title">推荐食谱</span>
                            </a>
                        </li>
                        <li class="back nav_li">
                            <a href="#">
                               <i>
                                   <span class="to-back"></span>
                               </i>
                               <em class="to-back-text">回到顶部</em>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="black_cover"></div>
    </div>
</body>
<script src="libs/jquery.js"></script>
<script src="js/huodong.js"></script>
</html>