<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商品详情</title>
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/shangpin.css">
</head>
<body>
    <header>
        <div id="me">
            <ul>
                <li>
                    <a href="">我的订单</a>
                </li>
                <li>
                    <a href="">我的优惠券</a>
                </li>
                <li>
                    <a href="">我的美的</a>
                </li>
                <li>
                    <a href="">会员福利社</a>
                </li>
                <li>
                    <a href="">我的权益</a>
                </li>
                <li>
                    <a href="">我的设置</a>
                </li>
            </ul>
        </div>
        <div id="cart">
            <span>立即
                <a href="">登录</a>
                查看购物车商品
            </span>
        </div>
        <div id="wx_img">
                <img src="img/header_qr_app.png" alt="">
        </div>
        <div class="inner">
            <a href="#" class="backImg site_logo" title="美的"></a>
            <div class="nav_wrap" id="topNavWrap">
                <ul class="nav">
                    <li class="item">
                        <a href="index.html">首页</a>
                    </li>
                    <li class="item">
                        <a href="">商家入驻</a>
                    </li>
                    <li class="item">
                        <a href="">企业采购</a>
                    </li>
                    <li class="item">
                        <a href="">全屋电器套购</a>
                    </li>
                    <li class="item">
                        <a href="">会员福利社</a>
                    </li>
                </ul>
            </div>
            <div class="opt_wrap" id="optWrap">
                <div class="opt opt_search">
                    <i class="backImg opt_img" ></i>
                    
                </div>
                <div class="opt opt_wx opt_wx_hover">
                    <i class="backImg opt_img"></i>
                    
                
                </div>
                <div class="opt opt_cart">
                    <i class="backImg opt_img"></i>
                    <span class="cart_num">0</span>
                </div>
                <div class="opt opt_user">
                    <i class="backImg opt_img"></i>
                    <span class="user_login_name">登录</span>
                </div>
            </div>
        </div>
        
    </header>
    <!-- 公告栏-->
    <div data-midea_mos_id="32,96" class="operation_time" data-time-start="2017/06/28 00:00:00" data-time-end="2019/12/31 23:59:59" style="display: block; font-size: 12px; background: rgb(0, 59, 102); line-height: 16px; color: rgb(255, 255, 255); text-align: center; padding: 4px;">
        【通知】新疆区域由于交通管制无法正常发货，恢复时间待定
    </div>
    <main>
        <div class="crumb_wrap">
            <div class="crumb">
                <a href="index.html">首页</a>
                <span>
                    >
                </span>
                <a href="">冰箱</a>
                <span>
                    >
                </span>
                <a href="">GTA-5</a>
            </div>
        </div>
        <div class="product_wrap">
            <div class="product_left">
                <div class="zoom_pic" style="display:none;" style="position: relative;">
                    <img id="zoomPic" style="position: absolute;" src="https://pic.midea.cn/ImageStore/110599/pic/ab5833e9cfe4521cA24315/ab5833e9cfe4521cA24315.jpg?x-oss-process=image/format,webp/quality,Q_90&midea" alt="" width="1200px" height="1200px">
                </div>
                <div class="showcase">
                    <div class="detail_pic" id="detailPic"
                     style="left:0px;top:0px;width:209px;height:209px;display:none;" ></div>
                     <img id="showcase" class="showcase_inner" src="https://pic.midea.cn/ImageStore/110599/pic/22b83abd690ad024A18349/22b83abd690ad024A18349.jpg?x-oss-process=image/format,webp/quality,Q_90&midea" alt="">
                </div>
                <ul id="imgList" class="imgList">
                    <li class="cur item">
                        <a>
                            <img index="0" src="https://pic.midea.cn/ImageStore/110599/pic/22b83abd690ad024A18349/22b83abd690ad024A18349.jpg?x-oss-process=image/format,webp/quality,Q_90&midea" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a>
                            <img index="1" src="https://pic.midea.cn/ImageStore/110599/pic/c128c9edc265440eA22439/c128c9edc265440eA22439.jpg?x-oss-process=image/format,webp/quality,Q_90&midea" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a>
                            <img index="2" src="https://pic.midea.cn/ImageStore/110599/pic/ab5833e9cfe4521cA24315/ab5833e9cfe4521cA24315.jpg?x-oss-process=image/format,webp/quality,Q_90&midea" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a>
                            <img index="3" src="https://pic.midea.cn/ImageStore/110599/pic/76cab18f115effd2A31461/76cab18f115effd2A31461_530*530.jpg?x-oss-process=image/format,webp/quality,Q_90&midea" alt="">
                        </a>
                    </li>
                    <li class="item">
                        <a>
                            <img index="4" src="https://pic.midea.cn/ImageStore/110599/pic/4d78f5b417b65d25A23088/4d78f5b417b65d25A23088.png?x-oss-process=image/format,webp/quality,Q_90&midea" alt="">
                        </a>
                    </li>
                </ul>
                <div class="share_collect">
                    <span>分享到:微信 </span>
                        |
                    <span>收藏  |  对比</span>
                </div>
            </div>
            <div class="product_right">
                <h1>
                    空调 大一匹 冷暖空调TK-1002 Sf  sdfADFASF@
                </h1>
                <h5>
                    <span class="price_protect">
                        极速保价
                    </span>
                    智能控指、光敏传感、ECO节能
                </h5>
                <div class="price_act">
                    <div class="price_act_inner">
                        <div class="price_wrap">
                            <span class="new_price">
                                <span class="symbol">
                                    ￥
                                </span>
                                <b class="price">2999.00</b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="floor_comment">
                    <div class="inner_floor floor_onsale">
                        <span class="h1">优惠</span>
                        <span class="h2">送积分</span>
                        <span class="h3">最高送239积分</span>
                    </div>
                    <div class="inner_floor floor_coupon">
                        <span class="h1">领券</span>
                        <span class="h2">满0送30元</span>
                        <span class="h2">领券</span>
                    </div>
                    <div class="inner_floor floor_comm">
                        <span class="h1">评价</span>
                        <span class="t1">美观(1096)</span>
                        <span class="t1">舒适(836)</span>
                        <span class="t1">静音(238)</span>
                    </div>
                </div>
                <div class="sku_wrap">
                   <img src="img/s1.png" alt="">
                </div>
                <div class="floor_btn">
                    <a href="javascript:void(0)" id="cartBtn" class="cart_btn">加入购物车</a>
                    <a href="cart.html" id="buyBtn" class="buy_btn">去结算</a>
                </div>
                <div class="floor_service">
                    <img src="img/m1.png" alt="">
                </div>
            </div>
        </div> 
        
        <div class="tabs_nav_wrap" >
            <div class="tabs_nav_inner">
                <ul class="tabs_nav">
                    <li class="curs">产品介绍</li>
                    <li>规格参数</li>
                    <li>服务支持</li>
                    <li>相关问题</li>
                </ul>
            </div>
        </div>
        <div class="tabs_content_wrap">
            <div class="cont1">
                <div class="wrap_790">
                    <img src="img/sp1.gif" alt="">
                    <img src="img/sp11.jpg" alt="">
                    <img src="img/sp12.jpg" alt="">
                    <img src="img/sp13.jpg" alt="">
                    <img src="img/sp21.jpg" alt="">
                    <img src="img/sp15.jpg" alt="">
                </div>
            </div>
            <div class="cont1" style="display: none;">
                <div class="wrap_1190">
                    <img src="img/PC_30_01.jpg" alt="">
                </div>
            </div>
            <div class="cont1" style="display: none;">
                <div class="wrap_1190">
                    <img src="img/PC_30_02.jpg" alt="">
                </div>
            </div>
            <div class="cont1" style="display: none;">
                <div class="wrap_1190">
                    <img src="img/PC_30_03.jpg" alt="">
                </div>
            </div>
        </div>
        <div id="detail_floating">
            <div class="item">
                <a href="javascript:">
                    <i class="det det1"></i>
                </a>
            </div>
            <div class="item">
                <a href="javascript:">
                    <i class="det det2"></i>
                </a>
            </div>
            <div class="item" id="wx">
                <a href="javascript:">
                    <i class="det det3"></i>
                </a>
            </div>
            <div class="item" id="toTop">
                <a href="javascript:">
                    <i class="det det4"></i>
                </a>
            </div>
            <div class="wxcode" style="display:none;">
               <span class="sp"></span>
               <img src="img/weixin_code.webp" alt="">
            </div>
        </div>
    </main>
    <!--尾部-->
    <footer>
        <div class="ft_inner">
            <div class="ft_link">
                <div class="col">
                    <a href="">
                        <h3>商城入驻</h3>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <h3>服务条款</h3>
                    </a>
                    </div>
                <div class="col">
                    <a href="">
                        <h3>隐私政策</h3>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <h3>联系我们</h3>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <h3>帮助中心</h3>
                    </a>
                </div>
                <div class="col">
                    <a href="">
                        <h3>服务支持</h3>
                    </a>
                </div>
            </div>
            <div class="ft_info">
                <p class="copyright">
                        Copyright &copy; 1968-2019 广东美的网络科技有限公司
                        <a href="#">粤ICP备17058257号</a>
                        <a href="#">
                            <img src="img/gongan.jpg" alt="">
                            粤公网安备44060602000243号 
                        </a>
                </p>
            </div>
        </div>
    </footer>
</body>
<script src="libs/jquery.js"></script>
<script src="libs/jquery.cookie.js"></script>
<script src="js/shangpin.js"></script>
</html>